#include "Resource.h"
#include <windows.h>

mainIcon ICON "Spartatroniks.ico"

////////// Process Manifest
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "Insight.manifest"

////////// About Dialog
IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_CAPTION | WS_SYSMENU
CAPTION "About Insight"
FONT 10, "MS Shell Dlg"
BEGIN
    ICON             mainIcon,                               IDC_STATIC, 30, 8,  32,  32
    LTEXT            "Insight, Version 1.0",                 IDC_STATIC, 55, 12, 114, 10
    LTEXT            "Copyright (c) 2013 FRC Team 3512",     IDC_STATIC, 30, 30, 159, 10
    LTEXT            "FRC Team 3512, Spartatroniks",         IDC_STATIC, 30, 39, 106,  10
    LTEXT            "All Rights Reserved",                  IDC_STATIC, 30, 48, 63,  10
END

////////// Menu
mainMenu MENU
BEGIN
    POPUP "&Server"
    BEGIN
        MENUITEM "&Start",          IDM_SERVER_START
        MENUITEM "&Stop",           IDM_SERVER_STOP
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About Insight",  IDM_ABOUT
    END
END

////////// Properties
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "FRC Team 3512, Spartatroniks"
      VALUE "FileVersion", "1,0,0,0"
      VALUE "InternalName", "Insight"
      VALUE "LegalCopyright", "(c) 2013 FRC Team 3512"
      VALUE "OriginalFilename", "Insight.exe"
      VALUE "ProductName", "Insight"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END